In [2]:
# tuple
tup = (1,2,3)
print(tup,type(tup),sep = ",")

(1, 2, 3),<class 'tuple'>

In [7]:
tup = ((1,2),(3,4))
tup
tup[0]

(1, 2)

In [8]:
tup = tuple('abcdefg')
tup[0] = 'z'

TypeError: 'tuple' object does not support item assignment

In [14]:
tup = ('a',[1,2],True)
tup[1].append(6)
tup

('a', [1, 2, 6], True)

In [15]:
tup1 = ('ad',12)
tup1 + tup

('ad', 12, 'a', [1, 2, 6], True)

In [18]:
tup * 3

('a', [1, 2, 6], True, 'a', [1, 2, 6], True, 'a', [1, 2, 6], True)

In [23]:
tup = (1,2,3)
a,b,c = tup
print(a,b,c,sep=',')

1,2,3

In [28]:
tup = (1,2,(3,4))
a,b,c = tup
print(a,b,c,sep=',')
a,b,(c,d) = tup
print(a,b,c,d,sep=',')

1,2,(3, 4)
1,2,3,4

In [30]:
print("before: a = ",a,", b = ",b)
a,b = b,a
print("after:  a = ",a,", b = ",b)

before: a =  2 , b =  1
after:  a =  1 , b =  2

In [37]:
seq = ((5,1,3),(4,5,6),(8,9,10))
for a,b,c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a,b,c))
    if a > b:
        print('({0},{1},{2})'.format(a,b,c))

a = 5, b = 1, c = 3
(5,1,3)
a = 4, b = 5, c = 6
a = 8, b = 9, c = 10

In [43]:
a,*rest = tup
rest

[2, (3, 4)]

In [44]:
a,*_ = tup
_

[2, (3, 4)]

In [49]:
tup = (2,3,4,43,5,5,None,True,None,'ab')
tup.count('ab')

1

In [51]:
tup.index(5)

4

In [53]:
#list
a_list = [1,3,'fd',None,True]
b_list = list(tup)
b_list

[2, 3, 4, 43, 5, 5, None, True, None, 'ab']

In [55]:
b_list[7]

True

In [67]:
gen = range(10)
gen

range(0, 10)

In [68]:
gen = list(gen)
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
gen.append('a')
gen.insert(2,'b')
gen

[0, 1, 'b', 2, 3, 4, 5, 6, 7, 8, 9, 'a']

In [72]:
gen.pop(2)

3

In [75]:
gen.remove('a')

In [76]:
gen

[1, 4, 5, 6, 7, 8, 9]

In [77]:
5 in gen

True

In [78]:
'a' in gen

False

In [86]:
a_list = [4,(4,3)]
b_list = ['hijk','lmn']
a_list + b_list

[4, (4, 3), 'hijk', 'lmn']

In [87]:
a_list.extend(b_list)
a_list

[4, (4, 3), 'hijk', 'lmn']

In [91]:
a_list = [2,54,6,3,47,4,2,1,89]
a_list.sort()
a_list

[1, 2, 2, 3, 4, 6, 47, 54, 89]

In [65]:
b_list = ['rr','dfr','94hunv','2','7jb']
b_list.sort(key=len)
b_list

['2', 'rr', 'dfr', '7jb', '94hunv']

In [95]:
import bisect

In [105]:
c = [1,5,7,10]
bisect.bisect(c,5)

2

In [106]:
c

[1, 5, 7, 10]

In [107]:
bisect.insort(c,2)
c

[1, 2, 5, 7, 10]

In [117]:
d = list(range(20))
d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [119]:
d[3:10]

[3, 4, 5, 6, 7, 8, 9]

In [113]:
d[9:]

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [116]:
d[-4:-2]

[16, 17]

In [120]:
d[-4:]

[16, 17, 18, 19]

In [121]:
d[::3]

[0, 3, 6, 9, 12, 15, 18]

In [122]:
d[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [4]:
a_list = ['one','two','three','four']
mapping ={}
for i,value in enumerate(a_list):
    mapping[value] = i
mapping

{'one': 0, 'two': 1, 'three': 2, 'four': 3}

In [13]:
s1 = [6,3,7,12,4,0]
s2 = [6,3,7,12,4,0]
s1.sort()
s3 = sorted(s2)
print('s1:{0},\ns2:{1},\ns3:{2}'.format(s1,s2,s3))

s1:[0, 3, 4, 6, 7, 12],
s2:[6, 3, 7, 12, 4, 0],
s3:[0, 3, 4, 6, 7, 12]

In [17]:
list(zip(s1,s2,s3))

[(0, 6, 0), (3, 3, 3), (4, 7, 4), (6, 12, 6), (7, 4, 7), (12, 0, 12)]

In [18]:
s1 = ['a','rt','cd','fy']
s2 = [1,5,6]
list(zip(s1,s2))

[('a', 1), ('rt', 5), ('cd', 6)]

In [20]:
for i,j in list(zip(s1,s2)):
    print(i,j,sep=",")

a,1
rt,5
cd,6

In [25]:
for index,(i,j) in enumerate(list(zip(s1,s2))):
    print(index,i,j,sep=",")

0,a,1
1,rt,5
2,cd,6

In [31]:
full_name = [('Nolan','ryan'),('Bill','Will'),('Emily','Zhu')]
print(list(zip(*full_name)))
first_name,last_name = zip(*full_name)
print(first_name)
print(last_name)

[('Nolan', 'Bill', 'Emily'), ('ryan', 'Will', 'Zhu')]
('Nolan', 'Bill', 'Emily')
('ryan', 'Will', 'Zhu')

In [37]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [44]:
#dict
d1 = {1:'a',2:'b',3:'x'}
d1[3]

'x'

In [54]:
d1[5] = 'e'
d1[3] = 'c'
d1[9] = ['emily','wendy','jack']
d1

{2: 'b', 3: 'c', 5: 'e', 9: ['emily', 'wendy', 'jack']}

In [55]:
del d1[2]
d1

{3: 'c', 5: 'e', 9: ['emily', 'wendy', 'jack']}

In [57]:
d1.pop(9)

['emily', 'wendy', 'jack']

In [58]:
d1

{3: 'c', 5: 'e'}

In [60]:
list(d1.keys())

[3, 5]

In [61]:
list(d1.values())

['c', 'e']

In [62]:
print('before d1: ',d1)
d1.update({10:'j',5:'asd'})
print('after  d1: ',d1)

before d1:  {3: 'c', 5: 'e'}
after  d1:  {3: 'c', 5: 'asd', 10: 'j'}

In [63]:
a_list

['one', 'two', 'three', 'four']

In [66]:
b_list

['2', 'rr', 'dfr', '7jb', '94hunv']

In [67]:
list(zip(a_list,b_list))

[('one', '2'), ('two', 'rr'), ('three', 'dfr'), ('four', '7jb')]

In [68]:
d2 = dict(zip(a_list,b_list))

In [69]:
d2

{'one': '2', 'two': 'rr', 'three': 'dfr', 'four': '7jb'}